<div id="footer-top">
	<div>
		<h3>Vooka</h3>
		<p style="margin: 0;">An interactive discord music bot.</p>
		<a href="javascript:void(0);" onclick="goTo('email')" class="highlight-blue">davinomehdanino@gmail.com</a>
		<p style="text-align: start; margin: 0;">
			<img src="https://visitor-badge.laobi.icu/badge?page_id=vookav2.vookav2.github.io" alt="visitor badge"/>
		</p>
	</div>
	<div class="footer-links">
		<h4>Links</h4>
		<ul>
			<li><a href="javascript:void(0);" onclick="goTo('home')">Home</a></li>
			<li><a href="javascript:void(0);" onclick="goTo('terms')">Terms of Service</a></li>
			<li><a href="javascript:void(0);" onclick="goTo('privacy')">Privacy Policy</a></li>
		</ul>
	</div>
</div>
<div id="footer-bottom">
	<div>
		<small>&copy; Copyright Vooka 2022. All rights reserved.</small>
	</div>
	<div>
		<small>Designed & built by <a href="javascript:void(0);" onclick="goTo('mr687', 'footer')" class="highlight-blue">mr687</a>.</small><br>
		<small>Illustrations provided by <a href="javascript:void(0);" onclick="goTo('storyset', 'footer')" class="highlight-blue">Storyset</a>.</small>
	</div>
</div>

<script>
	if (!window.parentPage) {
		window.location.href = '/'
	}
</script>