<div class="logo">
	<a href="/">
		<img src="/assets/logo.png" class="logo-image" alt="Vooka">
		<h3 class="logo-title">
			vooka.
			<span class="badge">preview</span>
		</h3>
	</a>
</div>
<nav>
	<div><a href="javascript:void(0);" onclick="goTo('invite', 'navbar')">invite.</a></div>
	<div><a href="javascript:void(0);" onclick="goTo('support', 'navbar')">support.</a></div>
	<div><a href="javascript:void(0);" onclick="goTo('vookav2', 'navbar')">github.</a></div>
</nav>

<script>
	if (!window.parentPage) {
		window.location.href = '/'
	}
</script>