:root {
	--container-size: 60%;
	--section-size: 2rem;
	--content-size: 2.2rem;
	--logo-size: 60px;
	--font-size: 1.8em;
}

*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 0.12s;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: var(--font-size);
	background-color: #020c1b;
	color: #8892b0;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
	color: #ccd6f6;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover,
a:focus,
a:active {
	outline: none;
}

ul {
	list-style: none;
}

p {
	margin-top: var(--content-size);
}

section {
	padding: var(--section-size) 0;
}

#app {
	width: var(--container-size);
	overflow-x: hidden;
	margin: 0 auto;
}

#top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 0;
}

nav {
	display: flex;
	gap: var(--content-size);
}

nav a:hover {
	color: #ccd6f6;
}

.highlight {
	color: #ccd6f6;
}

.highlight-blue {
	color: #64ffda;
}

.logo a {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.logo img {
	width: var(--logo-size);
	height: var(--logo-size);
	border-radius: 50%;
}

.logo-title {
	position: relative;
}

.badge {
	position: absolute;
	font-size: small;
	color: #4d4d4d;
	padding: .1rem .5em;
	margin-left: .3rem;
	background-color: #ccd6f6;
	border-radius: .5rem;
	top: 0;
}

.button {
	font-size: smaller;
	color: #64ffda;
	display: inline-block;
	margin: var(--content-size) 0;
	padding: .5rem 1.6rem;
	background-color: transparent;
	border-radius: .5rem;
	border: 2px solid #64ffda;
}

a.button:hover {
	background-color: rgba(100,255,218,0.1);
}

/* CSS for phone screen */
@media (max-width: 768px) {
	body {
		--font-size: 1.2em;
		--container-size: 90%;
		--logo-size: 40px;
		--section-size: .5rem;
		--content-size: .8rem;
	}
}

/* CSS for tablet screen */
@media (min-width: 768px) {
	body {
		--font-size: 1.4em;
		--container-size: 80%;
		--logo-size: 60px;
		--section-size: 1rem;
		--content-size: 1.2rem;
	}
}

/* CSS for laptop screen */
@media (min-width: 1024px) {
	body {
		--font-size: 1.6em;
		--container-size: 70%;
		--logo-size: 80px;
		--section-size: 1.5rem;
		--content-size: 1.6rem;
	}
}

/* CSS for desktop screen */
@media (min-width: 1280px) {
	body {
		--font-size: 1.8em;
		--container-size: 60%;
		--logo-size: 100px;
		--section-size: 2rem;
		--content-size: 2.2rem;
	}
}
